@font-face {
    font-family: 'UNCAGE';
    src: url('UNCAGE/UNCAGE-Regular.otf');
}

a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'UNCAGE';
}


.header-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
    max-width: 1440px;
    border-bottom: rgb(200, 192, 192) 2px solid;
    margin: 0 auto;
    font-weight: 600;
}


.header__nav{
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.header-subcontainer {
    display: flex;
    justify-content: space-between;
    gap: 112px;
}

.header__nav li {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-subcontainer__training-container {
    display: flex;
    gap: 70px;
    padding: 0 40px;
}
.header__text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.green-text {
    color: rgb(120, 229, 143);
}
.header-subcontainer__sign-container {
    display: flex;
    justify-content: space-between;
    gap: 43px;
}
.green-button {
    box-sizing: border-box;
    border-radius: 20px;
    background: rgb(120, 229, 143);
    padding: 10px 30px;
}


.main-desktop {
    display: flex;
    padding: 61px 130px 20px 130px;
    margin: 0 auto;
    max-width: 1440px;
}

.gallery-desktop{
    display: flex;
    gap: 50px;
}

.main-desktop__gallery {
    display: flex;
    gap: 40px;
}

.gallery__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gallery__item{
    border-radius: 20px;
    width: 60px;
    height: 60px;
}
.gallery__main-photo {
    width: 550px;
    height: 405px;
    border-radius: 20px;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.options__inputs{
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.options__name-input {
    font-family: 'UNCAGE';
    background-color: inherit;
    border: none;
    font-size: 18px;
    width: 335px;
    padding: 10px;
    border-radius: 10px;
}
.options__description-input {
    font-family: 'UNCAGE';
    background-color: inherit;
    border: none;
    font-size: 16px;
    width: 335px;
    max-height: 250px;
    border-radius: 10px;
    padding: 10px;
}
.options__tags {
    display: flex;
    gap: 30px;
}

.tag_red {
    padding: 10px 20px;
    background-color: rgb(255, 148, 148);
    border-radius: 20px;
}
.tag_purple {
    padding: 10px 20px;
    background-color: rgb(255, 148, 252);
    border-radius: 20px;
}
.tag_blue {
    padding: 10px 20px;
    background-color: rgb(148, 255, 255);
    border-radius: 20px;
}


.settings-desktop {
    display: flex;
    flex-direction: column;
    padding: 34px 130px 0 130px;
    margin: 0 auto;
    max-width: 1440px;
    gap: 80px;
}
.training-settings-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.settings-desktop__structure {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-text {
    font-weight: 600;
}
.structure-buttons{
    display: flex;
    gap: 30px;
}

.structure-buttons .green-button{
    font-size: 12px;
}

.settings-desktop_params {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-text {
}
.params-container {
    display: flex;
}
.params-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.params-lists {
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 10px;
    padding: 0 30px;
}
.buttons-list {
    display: flex;
    gap: 40px;
    justify-content: start;
}

.buttons-list__item {
    display: flex;
    justify-content: center;
    padding: 5px 12px;
    width: 120px;
}

.tag_green {
    width: 120px;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgb(120, 229, 143);
}
.tag_yellow {
    box-sizing: border-box;
    border-radius: 20px;
    background: rgb(255, 249, 150);
}

.end-button{
    display: flex;
}